openapi: 3.0.3
info:
  title: FusionBikes — API móvil v1
  version: 1.0.0
  description: |
    Contrato congelado para la app móvil (React Native). Fuente de verdad para ambos lados
    (app y backend) — ver docs/superpowers/plans/plan-maestro-v2.md para el plan vigente.
    La autenticación, dispositivos, notificaciones e inbox operativo de Claims están
    implementados bajo /api/v1. Los demás paths se incorporan por entregas verticales.

    Convenciones:
    - Todas las fechas en ISO 8601 UTC.
    - Todos los IDs de recurso son string (aunque el backend interno use INTEGER autoincrement).
    - El shape de error es uniforme en todos los endpoints (ver `Error` en components/schemas).
    - Paginación por cursor en listados (`cursor`/`next_cursor`), no por offset.

servers:
  - url: https://herramientas.fusionbikes.com.ar/api/v1
    description: Producción (cuando exista)
  - url: http://localhost:3001/api/v1
    description: Local (DISABLE_CRONS=true, nunca contra data/fusion.sqlite real)

tags:
  - name: auth
  - name: devices
  - name: stock
  - name: orders
  - name: today
  - name: notifications
  - name: inbox
  - name: inventory
  - name: preparation

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: Login con usuario/contraseña existentes (reusa la tabla `users`)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              description: Se debe enviar device_id o, en el primer registro, platform y push_token. device_id no puede combinarse con platform, push_token ni device_name.
              oneOf:
                - required: [device_id]
                  not:
                    anyOf:
                      - required: [platform]
                      - required: [push_token]
                      - required: [device_name]
                - required: [platform, push_token]
                  not:
                    required: [device_id]
              properties:
                username: { type: string, example: "juan" }
                password: { type: string, format: password, example: "••••••••" }
                device_id: { type: string, description: "ID de dispositivo ya registrado" }
                platform: { type: string, enum: [ios, android, web], description: "Usar junto con push_token en el primer login" }
                push_token: { type: string, description: "Token APNs/FCM para registrar el dispositivo en el primer login" }
                device_name: { type: string }
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
              example:
                access_token: "eyJhbGciOi..."
                refresh_token: "8f14e45f-ceea-467e-..."
                expires_in: 900
                device_id: "12"
                user: { id: "12", username: "juan", roles: ["deposito"] }
        '401':
          description: Credenciales inválidas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: { code: "credenciales_invalidas", message: "Usuario o contraseña incorrectos" } }
        '422':
          description: Body inválido o dispositivo ausente/no perteneciente al usuario
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: Demasiados intentos fallidos desde este usuario/IP
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          $ref: '#/components/responses/ServerError'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Renueva el access_token usando un refresh_token vigente
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: Tokens renovados
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401':
          description: refresh_token inválido, expirado o revocado (ej. dispositivo eliminado)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: { code: "refresh_revocado", message: "La sesión de este dispositivo fue revocada" } }
        '422':
          description: Falta refresh_token en el body
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          $ref: '#/components/responses/ServerError'

  /auth/logout:
    post:
      tags: [auth]
      summary: Revoca el refresh_token actual (logout de este dispositivo, no de todos)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: Logout exitoso
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean, example: true } } }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

  /me:
    get:
      tags: [auth]
      summary: Perfil y permisos del usuario autenticado
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Me' }
              example:
                id: "12"
                username: "juan"
                roles: ["deposito"]
                permisos: ["stock.editar", "pedidos.ver", "pedidos.preparar"]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /devices:
    post:
      tags: [devices]
      summary: Registra este dispositivo (necesario para push y para revocación por dispositivo)
      description: Requiere un Bearer JWT válido. El usuario solo puede registrar su propio dispositivo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, push_token]
              properties:
                platform: { type: string, enum: [ios, android, web] }
                push_token: { type: string, description: "Token APNs o FCM" }
                device_name: { type: string, example: "iPhone de Juan" }
      responses:
        '200':
          description: Dispositivo registrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Device' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Falta platform o push_token, o platform no es ios/android/web
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          $ref: '#/components/responses/ServerError'

  /devices/{id}:
    delete:
      tags: [devices]
      summary: Elimina/revoca un dispositivo (invalida su refresh_token)
      description: Requiere un Bearer JWT válido y revoca dispositivo y refresh tokens asociados en una transacción.
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Revocado
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean, example: true } } }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: El dispositivo no pertenece al usuario autenticado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: El id del dispositivo no es un entero positivo completo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /products/lookup:
    get:
      tags: [stock]
      summary: Busca un producto por SKU o código de barras (EAN/UPC)
      description: >-
        Adaptador móvil pendiente. No existe hoy un buscador legacy por SKU/EAN
        equivalente. El runtime expone `GET /api/cobertura/productos/:id_woo/buscar-ml`,
        que no acepta este contrato ni debe usarse como sustituto; se requiere
        implementar el adaptador/catálogo antes de habilitar esta ruta.
      x-implementation-status: adapter-pending
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
          example: "7791234567890"
      responses:
        '200':
          description: Encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
              example:
                sku: "FB-1234"
                nombre: "Casco Bell Rally"
                marca: "Bell"
                stock: 5
                precio: 45000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Código no matchea ningún producto (ni por SKU ni por EAN mapeado)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { error: { code: "producto_no_encontrado", message: "Código '7791234567890' no está en el catálogo" } }
        '500':
          $ref: '#/components/responses/ServerError'

  /stock/adjustments:
    post:
      tags: [stock]
      summary: Ajusta el stock de un SKU de forma idempotente y con control de concurrencia
      description: |
        Adaptador móvil pendiente. No existe una ruta legacy única y equivalente:
        el ajuste está acoplado al cierre de sesión (`POST /api/inventario/sesiones/:id/confirmar`)
        y a aprobaciones de diferencias (`POST /api/inventario/diferencias/:id/aprobar`).
        `/api/v1/stock/adjustments` aún no está servido y requiere un adaptador explícito.
        Ver plan-api-mobile-v1.md, Bloque 6, para el flujo completo (idempotencia por
        client_request_id, optimistic lock con expected_stock, syncSkuPuntual hacia ML,
        operation_id para seguimiento asincrónico).
      x-implementation-status: adapter-pending
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StockAdjustmentRequest' }
            example:
              client_request_id: "550e8400-e29b-41d4-a716-446655440000"
              sku: "FB-1234"
              expected_stock: 5
              requested_stock: 7
              reason: "ajuste_manual"
      responses:
        '200':
          description: |
            Aceptado y aplicado en WooCommerce (el sync a ML puede seguir en curso — ver
            `operation_id` y `ml_status`, nunca asumir sincronizado por este 200).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StockAdjustmentResult' }
              example:
                operation_id: "op_9f8c3e"
                sku: "FB-1234"
                woo_status: "aplicado"
                stock_nuevo: 7
                ml_status: "sincronizando"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: SKU no existe en el catálogo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: expected_stock no coincide con el stock real actual (alguien más lo cambió)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                error:
                  code: "stock_desactualizado"
                  message: "El stock real es 6, no 5 — recargá el producto antes de reintentar"
                  stock_actual: 6
        '422':
          description: Falta un campo requerido, o requested_stock es negativo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          $ref: '#/components/responses/ServerError'

  /orders:
    get:
      tags: [orders]
      summary: Lista pedidos (solo lectura sobre pedidos_cache — ver plan-api-mobile-v1.md Bloque 7)
      description: >-
        Adaptador móvil pendiente. Mapea al endpoint legacy de pedidos expuesto por
        `routes/pedidos.js`; `/api/v1/orders` aún no está servido.
      x-implementation-status: adapter-pending
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [new, preparing, done] }
        - name: channel
          in: query
          schema: { type: string, enum: [ml, web] }
        - name: assigned_to
          in: query
          schema: { type: string, example: "me" }
        - name: updated_after
          in: query
          schema: { type: string, format: date-time }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/OrderSummary' } }
                  next_cursor: { type: string, nullable: true }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Valor de filtro inválido (ej. status fuera del enum)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          $ref: '#/components/responses/ServerError'

  /orders/{id}:
    get:
      tags: [orders]
      summary: Detalle de un pedido
      description: >-
        Adaptador móvil pendiente. El detalle aún no está servido bajo `/api/v1`.
        Mapea temporalmente al endpoint legacy `GET /api/pedidos/:id` (o su ruta
        equivalente expuesta por `routes/pedidos.js`); la app no debe llamar legacy
        directamente como solución permanente.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: El usuario no tiene permiso para ver pedidos de este canal
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /today:
    get:
      tags: [today]
      summary: Agregado para la pantalla "Hoy" (pedidos + stock + mensajes + preguntas + reclamos + tareas)
      description: >-
        Adaptador móvil pendiente. El agregado aún no tiene ruta equivalente; sus fuentes
        permanecen en los endpoints legacy de pedidos, inventario y notificaciones.
      x-implementation-status: adapter-pending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TodaySummary' }
              example:
                pedidos_nuevos: 4
                pedidos_preparando: 2
                stock_con_error_ml: 1
                preguntas_sin_responder: 3
                mensajes_sin_responder: 0
                reclamos_abiertos: 0
                tareas_pendientes: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /notifications:
    get:
      tags: [notifications]
      summary: Lista de notificaciones del usuario/dispositivo
      description: Requiere el permiso notificaciones-ml; solo devuelve notificaciones del usuario autenticado.
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Notification' } }
                  next_cursor: { type: string, nullable: true }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Cursor inválido o mal formado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '500':
          $ref: '#/components/responses/ServerError'

  /integration-notifications:
    get:
      tags: [inbox]
      summary: Lista notificaciones lógicas del backbone de integraciones
      description: Requiere el permiso notificaciones-ml y solo devuelve filas del usuario autenticado.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
        - name: cursor
          in: query
          schema: { type: string, description: ID de la última fila recibida }
      responses:
        '200':
          description: Notificaciones lógicas y cursor siguiente
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/IntegrationNotification' } }
                  next_cursor: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /inbox:
    get:
      tags: [inbox]
      summary: Lista trabajo operativo visible para el usuario
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [unread, read, resolved, archived] }
        - name: channel
          in: query
          schema: { type: string, example: ml }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
        - name: cursor
          in: query
          schema: { type: string, description: ID de la última fila recibida }
      responses:
        '200':
          description: Ítems de inbox
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/InboxItem' } }
                  next_cursor: { type: string, nullable: true }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /inbox/{id}:
    get:
      tags: [inbox]
      summary: Obtiene un ítem de inbox
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200':
          description: Ítem
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InboxItem' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /inbox/{id}/read:
    post:
      tags: [inbox]
      summary: Marca un ítem como leído
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200': { description: Ítem actualizado, content: { application/json: { schema: { $ref: '#/components/schemas/InboxItem' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /inbox/{id}/resolve:
    post:
      tags: [inbox]
      summary: Resuelve un ítem con control optimista de versión
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties: { version: { type: integer, minimum: 1 } }
      responses:
        '200': { description: Ítem resuelto, content: { application/json: { schema: { $ref: '#/components/schemas/InboxItem' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Conflicto de versión }

  /inbox/{id}/claim:
    post:
      tags: [inbox]
      summary: Toma el ítem y crea una notificación lógica para el usuario
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200': { description: Ítem asignado, content: { application/json: { schema: { $ref: '#/components/schemas/InboxItem' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: El ítem ya está asignado a otro usuario }

  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Marca una notificación como leída
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object, properties: { ok: { type: boolean, example: true } } }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: El id de la notificación no es un entero positivo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /conversations/{id}:
    get:
      tags: [inbox]
      summary: Lee una conversación visible y sus mensajes
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200':
          description: Conversación y mensajes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConversationView' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /conversations/{id}/read:
    post:
      tags: [inbox]
      summary: Marca como leídos los ítems de una conversación
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200':
          description: Resultado de la actualización
          content:
            application/json:
              schema:
                type: object
                required: [ok, updated]
                properties:
                  ok: { type: boolean }
                  updated: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /operations/{correlationId}:
    get:
      tags: [inbox]
      summary: Consulta etapas seguras de un evento por correlation_id
      parameters:
        - name: correlationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Evento y trazabilidad operativa
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntegrationOperation' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /notifications/preferences:
    get:
      tags: [notifications]
      summary: Consulta preferencias de notificación del usuario autenticado
      responses:
        '200':
          description: Preferencias actuales (ausencia equivale a habilitado)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPreferences' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      tags: [notifications]
      summary: Actualiza preferencias de notificación del usuario autenticado
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationPreferences' }
      responses:
        '200':
          description: Preferencias actualizadas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPreferences' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # U0.C — contratos móviles definidos antes del adaptador. Las rutas legacy reales
  # siguen en /api/inventario y /api/preparacion; estas operaciones son el contrato
  # versionado que App 1/2 consumirá cuando se implemente el adaptador.
  /inventory/today:
    get:
      tags: [inventory]
      summary: Plan diario de inventario
      description: Adaptador pendiente; el backend actual ofrece GET /inventario/plan-hoy.
      x-implementation-status: adapter-pending
      responses:
        '200': { description: Plan, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryToday' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/ServerError' }

  /inventory/sessions:
    get:
      tags: [inventory]
      summary: Historial paginado de sesiones de inventario
      description: Adaptador pendiente; legacy GET /inventario/sesiones no usa cursor.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200': { description: Sesiones, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPageInventorySession' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
    post:
      tags: [inventory]
      summary: Abre una sesión de conteo
      description: Adaptador pendiente; legacy POST /inventario/sesiones.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/InventorySessionCreate' } } } }
      responses:
        '201': { description: Sesión creada, content: { application/json: { schema: { $ref: '#/components/schemas/InventorySession' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /inventory/sessions/{id}:
    get:
      tags: [inventory]
      summary: Detalle de sesión, ítems y pendientes
      description: Adaptador pendiente; legacy GET /inventario/sesiones/:id.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200': { description: Sesión, content: { application/json: { schema: { $ref: '#/components/schemas/InventorySessionDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [inventory]
      summary: Descarta una sesión abierta
      description: Adaptador pendiente; legacy POST /inventario/sesiones/:id/descartar.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExpectedVersionRequest' }
      responses:
        '200': { description: Sesión descartada, content: { application/json: { schema: { $ref: '#/components/schemas/Ok' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /inventory/sessions/{id}/scans:
    post:
      tags: [inventory]
      summary: Registra un escaneo o asociación de código
      description: Adaptador pendiente; legacy POST /inventario/sesiones/:id/escanear y /asociar.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryScanRequest' } } } }
      responses:
        '200': { description: Escaneo registrado, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryItem' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /inventory/sessions/{id}/close:
    post:
      tags: [inventory]
      summary: Cierra o confirma una sesión
      description: Adaptador pendiente; requiere intención explícita y no pisa cambios concurrentes.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/PathId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryCloseRequest' } } } }
      responses:
        '200': { description: Resultado del cierre, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryCloseResult' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Versión o pendientes/conflicto de stock, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /inventory/sessions/{id}/items/{itemId}:
    patch:
      tags: [inventory]
      summary: Corrige la cantidad de un ítem
      description: Adaptador pendiente; requiere expected_version para evitar sobrescritura.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/PathId'
        - name: itemId
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryItemPatch' } } } }
      responses:
        '200': { description: Ítem actualizado, content: { application/json: { schema: { $ref: '#/components/schemas/InventoryItem' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /inventory/locations:
    get:
      tags: [inventory]
      summary: Lista ubicaciones activas
      description: Adaptador pendiente; legacy GET /inventario/ubicaciones.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' }]
      responses:
        '200': { description: Ubicaciones, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPageLocation' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [inventory]
      summary: Crea o mapea una ubicación
      description: Adaptador pendiente; crea una ubicación o asocia SKUs a una ubicación existente.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/LocationMutation' } } } }
      responses:
        '200': { description: Ubicación mapeada, content: { application/json: { schema: { $ref: '#/components/schemas/Location' } } } }
        '201': { description: Ubicación creada, content: { application/json: { schema: { $ref: '#/components/schemas/Location' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /inventory/differences:
    get:
      tags: [inventory]
      summary: Lista diferencias pendientes de decisión
      description: Adaptador pendiente; legacy GET /inventario/diferencias/pendientes.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' }]
      responses:
        '200': { description: Diferencias, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPageDifference' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [inventory]
      summary: Decide aprobar, rechazar o descartar una diferencia
      description: Adaptador pendiente; la aprobación/rechazo legacy usa rutas separadas y requiere admin.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DifferenceDecision' } } } }
      responses:
        '200': { description: Decisión aplicada, content: { application/json: { schema: { $ref: '#/components/schemas/Ok' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /inventory/differences/{id}/history:
    get:
      tags: [inventory]
      summary: Historial completo de una diferencia
      description: Adaptador pendiente; devuelve todos los cambios y decisiones de la diferencia.
      x-implementation-status: adapter-pending
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200': { description: Historial, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPageDifferenceHistory' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /inventory/label-jobs:
    get:
      tags: [inventory]
      summary: Lista trabajos de etiquetas
      description: Adaptador pendiente; el backend actual tiene cola de etiquetas fuera de routes/inventario.js.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' }]
      responses:
        '200': { description: Trabajos, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPageLabelJob' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /preparation/queue:
    get:
      tags: [preparation]
      summary: Cola paginada de preparaciones
      description: Adaptador pendiente; legacy GET /preparacion/pendientes.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' }]
      responses:
        '200': { description: Cola, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPagePreparation' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /preparation/{id}:
    get:
      tags: [preparation]
      summary: Detalle de preparación
      description: Adaptador pendiente; legacy GET /preparacion/:id.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }]
      responses:
        '200': { description: Detalle, content: { application/json: { schema: { $ref: '#/components/schemas/PreparationDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /preparation/{id}/take:
    post:
      tags: [preparation]
      summary: Toma exclusiva de una preparación
      description: Adaptador pendiente; no existe una toma exclusiva móvil implementada en routes/preparacion.js.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ExpectedVersionRequest' } } } }
      responses:
        '200': { description: Preparación tomada, content: { application/json: { schema: { $ref: '#/components/schemas/PreparationDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /preparation/{id}/scans:
    post:
      tags: [preparation]
      summary: Registra escaneo de un ítem
      description: Adaptador pendiente; legacy POST /preparacion/:id/escanear.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/PreparationScanRequest' } } } }
      responses:
        '200': { description: Resultado, content: { application/json: { schema: { $ref: '#/components/schemas/ScanResult' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /preparation/{id}/items/{itemId}/confirm-manual:
    post:
      tags: [preparation]
      summary: Confirma manualmente un ítem sin escaneo válido
      description: Adaptador pendiente; conserva el motivo obligatorio del endpoint legacy confirmar-manual.
      x-implementation-status: adapter-pending
      parameters:
        - $ref: '#/components/parameters/PathId'
        - name: itemId
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ManualConfirmationRequest' } } } }
      responses:
        '200': { description: Ítem confirmado, content: { application/json: { schema: { $ref: '#/components/schemas/PreparationDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /preparation/{id}/evidence:
    post:
      tags: [preparation]
      summary: Carga evidencia fotográfica
      description: Adaptador pendiente; legacy POST /preparacion/:id/foto usa multipart y cola de procesamiento.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { multipart/form-data: { schema: { $ref: '#/components/schemas/EvidenceUpload' } } } }
      responses:
        '202': { description: Evidencia aceptada para procesamiento, content: { application/json: { schema: { $ref: '#/components/schemas/Evidence' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { description: Archivo demasiado grande, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /preparation/{id}/complete:
    post:
      tags: [preparation]
      summary: Finaliza una preparación
      description: Adaptador pendiente; legacy POST /preparacion/:id/completar.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ExpectedVersionRequest' } } } }
      responses:
        '200': { description: Preparación finalizada o delegada al depósito, content: { application/json: { schema: { $ref: '#/components/schemas/PreparationCompletion' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /preparation/{id}/dispatch:
    post:
      tags: [preparation]
      summary: Despacha o registra incidencia de una preparación
      description: Adaptador pendiente; legacy tracking e incidencias están separados y requieren normalización.
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/PathId' }, { $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DispatchRequest' } } } }
      responses:
        '200': { description: Despacho/incidencia registrado, content: { application/json: { schema: { $ref: '#/components/schemas/DispatchResult' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /preparation/label-jobs:
    get:
      tags: [preparation]
      summary: Lista trabajos de etiquetas de preparación
      description: Adaptador pendiente; se mapea al legacy GET /api/preparacion/etiquetas (routes/preparacion.js:757).
      x-implementation-status: adapter-pending
      parameters: [{ $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Limit' }]
      responses:
        '200': { description: Trabajos, content: { application/json: { schema: { $ref: '#/components/schemas/CursorPageLabelJob' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string }
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Cursor opaco devuelto por la página anterior; no es un offset.
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
      description: UUID nuevo por intención de mutación; repetirlo devuelve el mismo resultado.

  responses:
    Conflict:
      description: Conflicto de versión, idempotencia o estado del recurso
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ConflictError' }
          example: { error: { code: "version_conflict", message: "El recurso cambió; recargá antes de continuar", current_version: 3 } }
    Unauthorized:
      description: Sin sesión válida o sesión expirada
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { ok: false, error: "No autenticado" }
    Forbidden:
      description: Autenticado pero sin permiso para esta acción/recurso
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: { code: "sin_permiso", message: "Tu usuario no tiene permiso para esta acción" } }
    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: { code: "no_encontrado", message: "El recurso solicitado no existe" } }
    UnprocessableEntity:
      description: Request inválido
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServerError:
      description: Error interno no esperado
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: { code: "error_interno", message: "Ocurrió un error inesperado, reintentá" } }

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string, description: "Identificador estable, no cambia entre versiones" }
            message: { type: string, description: "Texto legible, en español, para mostrar o loguear" }
            details: { type: object, additionalProperties: true, nullable: true }

    ConflictError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, current_version]
          properties:
            code: { type: string, enum: [version_conflict, idempotency_key_reused, invalid_state] }
            message: { type: string }
            current_version: { type: integer, minimum: 1, nullable: true }
            details: { type: object, additionalProperties: true, nullable: true }

    Ok:
      type: object
      required: [ok]
      properties: { ok: { type: boolean, example: true } }

    ExpectedVersionRequest:
      type: object
      required: [expected_version]
      properties:
        expected_version: { type: integer, minimum: 1 }

    InventorySessionCreate:
      description: El alcance usa una o más categorías, una o más marcas, o una ubicación, nunca ubicación junto con filtros.
      oneOf:
        - type: object
          anyOf:
            - required: [categorias]
            - required: [marcas]
          not: { required: [ubicacion_id] }
          properties:
            categorias: { type: array, items: { type: string }, minItems: 1, example: [Cascos] }
            marcas: { type: array, items: { type: string }, minItems: 1, example: [Bell] }
        - type: object
          required: [ubicacion_id]
          not: { anyOf: [{ required: [categorias] }, { required: [marcas] }] }
          properties:
            ubicacion_id: { type: string, minLength: 1, example: "4" }

    InventorySession:
      type: object
      required: [id, estado, version]
      properties:
        id: { type: string }
        estado: { type: string, enum: [abierta, confirmada, confirmada_con_errores, descartada] }
        version: { type: integer, minimum: 1 }
        usuario: { type: string }
        categorias: { type: array, items: { type: string } }
        marcas: { type: array, items: { type: string } }
        ubicacion_id: { type: string, nullable: true }
        creado_en: { type: string, format: date-time }
        confirmado_en: { type: string, format: date-time, nullable: true }

    InventoryItem:
      type: object
      required: [id, sku, cantidad, estado_codigo]
      properties:
        id: { type: string }
        ean: { type: string, nullable: true }
        sku: { type: string, nullable: true }
        nombre: { type: string, nullable: true }
        cantidad: { type: integer, minimum: 0 }
        stock_woo: { type: integer, nullable: true }
        diferencia: { type: integer, nullable: true }
        estado_codigo: { type: string, enum: [ok, fuera_de_alcance, sin_asociar, desconocido] }
        confirmado_por_omision: { type: boolean }
        ajustado: { type: boolean }

    InventorySessionDetail:
      allOf:
        - $ref: '#/components/schemas/InventorySession'
        - type: object
          required: [items, pendientes, resumen]
          properties:
            items: { type: array, items: { $ref: '#/components/schemas/InventoryItem' } }
            pendientes: { type: array, items: { $ref: '#/components/schemas/InventoryItem' } }
            resumen: { type: object, additionalProperties: true }

    InventoryScanRequest:
      type: object
      required: [codigo]
      properties:
        codigo: { type: string, example: "7791234567890" }
        ean: { type: string, nullable: true }
        sku: { type: string, nullable: true }
        pisar_codigo: { type: boolean, default: false }
      oneOf:
        - properties: { pisar_codigo: { enum: [false] } }
        - required: [pisar_codigo, expected_version]
          properties:
            pisar_codigo: { enum: [true] }
            expected_version: { type: integer, minimum: 1 }

    InventoryItemPatch:
      allOf:
        - $ref: '#/components/schemas/ExpectedVersionRequest'
        - type: object
          required: [cantidad]
          properties: { cantidad: { type: integer, minimum: 0 } }

    InventoryCloseRequest:
      allOf:
        - $ref: '#/components/schemas/ExpectedVersionRequest'
        - type: object
          properties:
            action: { type: string, enum: [confirm, close_zero, discard] }
            skus: { type: array, items: { type: string } }
            todos: { type: boolean }

    InventoryCloseResult:
      type: object
      properties:
        ok: { type: boolean }
        ajustados: { type: integer }
        fallidos: { type: integer }
        errores: { type: array, items: { type: object, additionalProperties: true } }
        ventasDuranteConteo: { type: array, items: { type: object, additionalProperties: true } }

    Location:
      type: object
      properties:
        id: { type: string }
        zona: { type: string }
        estante: { type: string }
        estado: { type: string, enum: [bootstrap, mapeada] }
        skus_registrados: { type: integer }

    LocationMutation:
      oneOf:
        - type: object
          required: [zona, estante]
          properties:
            zona: { type: string, minLength: 1 }
            estante: { type: string, minLength: 1 }
        - type: object
          required: [ubicacion_id, skus]
          properties:
            ubicacion_id: { type: string, minLength: 1 }
            skus: { type: array, minItems: 1, items: { type: string, minLength: 1 } }

    Difference:
      type: object
      required: [version]
      properties:
        version: { type: integer, minimum: 1 }
        id: { type: string }
        sku: { type: string }
        tipo: { type: string, enum: [sobrante, faltante] }
        cantidad_contada: { type: integer }
        stock_inicial_usado: { type: integer }
        diferencia: { type: integer }
        revisado_en: { type: string, format: date-time, nullable: true }

    DifferenceHistoryEntry:
      type: object
      required: [id, action, created_at]
      properties:
        id: { type: string }
        action: { type: string, enum: [created, approved, rejected, discarded, adjusted] }
        actor: { type: string, nullable: true }
        from_status: { type: string, nullable: true }
        to_status: { type: string, nullable: true }
        details: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }

    DifferenceDecision:
      type: object
      required: [id, decision, expected_version]
      properties:
        id: { type: string }
        decision: { type: string, enum: [approve, reject, discard] }
        expected_version: { type: integer, minimum: 1 }

    LabelJob:
      type: object
      properties:
        id: { type: string }
        estado: { type: string, enum: [pendiente, procesando, lista, error, impresa] }
        sku: { type: string }
        creado_en: { type: string, format: date-time }

    InventoryToday:
      type: object
      properties:
        fecha: { type: string, format: date }
        items: { type: array, items: { $ref: '#/components/schemas/InventoryItem' } }
        total: { type: integer }

    PreparationSummary:
      type: object
      required: [id, canal, estado, pack_id, envio]
      properties:
        id: { type: string }
        canal: { type: string, enum: [ml, web] }
        estado: { type: string, enum: [en_preparacion, pendiente_deposito, completada, despachada_sin_verificar, cerrada_sin_evidencia] }
        pack_id: { type: string, nullable: true, description: "Identificador de pack de ML; null para pedidos sin pack o web" }
        envio:
          $ref: '#/components/schemas/ShippingData'
        numero_pedido: { type: string, nullable: true }
        comprador: { type: string, nullable: true }
        actualizado_en: { type: string, format: date-time, nullable: true }

    ShippingData:
      type: object
      required: [pedido, nombre, apellido, calle, numeracion, piso_depto, localidad, provincia, cp, caracteristica, telefono, email, dni_cuit, notas]
      properties:
        pedido: { type: string }
        nombre: { type: string }
        apellido: { type: string }
        calle: { type: string }
        numeracion: { type: string }
        piso_depto: { type: string }
        localidad: { type: string }
        provincia: { type: string }
        cp: { type: string }
        caracteristica: { type: string }
        telefono: { type: string }
        email: { type: string }
        dni_cuit: { type: string }
        notas: { type: string }

    PreparationDetail:
      allOf:
        - $ref: '#/components/schemas/PreparationSummary'
        - type: object
          properties:
            items: { type: array, items: { type: object, additionalProperties: true } }
            fotos: { type: array, items: { $ref: '#/components/schemas/Evidence' } }
            eventos: { type: array, items: { type: object, additionalProperties: true } }
            version: { type: integer, minimum: 1 }

    PreparationScanRequest:
      type: object
      required: [codigo]
      properties:
        codigo: { type: string, example: "FB-1234" }
        origen: { type: string, enum: [camara, lector_teclado] }

    ManualConfirmationRequest:
      allOf:
        - $ref: '#/components/schemas/ExpectedVersionRequest'
        - type: object
          oneOf:
            - type: object
              required: [motivo]
              properties:
                motivo: { type: string, enum: [codigo_ilegible, sin_etiqueta] }
                detalle_texto: { type: string, minLength: 1, nullable: true }
            - type: object
              required: [motivo, detalle_texto]
              properties:
                motivo: { type: string, enum: [otro] }
                detalle_texto: { type: string, minLength: 1 }

    ScanResult:
      type: object
      properties:
        ok: { type: boolean }
        resultado: { type: string, enum: [match, no_coincide, sobrante] }
        codigo: { type: string }
        item: { type: object, additionalProperties: true, nullable: true }

    EvidenceUpload:
      type: object
      required: [archivo]
      properties:
        archivo: { type: string, format: binary }
        item_id: { type: string, nullable: true }
        tipo: { type: string, example: paquete }

    Evidence:
      type: object
      properties:
        id: { type: string }
        tipo: { type: string }
        url: { type: string }
        estado_proceso: { type: string, enum: [pendiente, procesando, listo, error] }

    PreparationCompletion:
      type: object
      properties:
        ok: { type: boolean }
        estado: { type: string }
        pendientes_deposito: { type: array, items: { type: object, additionalProperties: true } }

    DispatchRequest:
      oneOf:
        - type: object
          required: [tipo, tracking, expected_version]
          properties:
            tipo: { type: string, enum: [tracking] }
            tracking: { type: string, minLength: 1 }
            expected_version: { type: integer, minimum: 1 }
        - type: object
          required: [tipo, incidencia, expected_version]
          properties:
            tipo: { type: string, enum: [incidencia] }
            incidencia: { type: string, minLength: 1 }
            expected_version: { type: integer, minimum: 1 }
      discriminator: { propertyName: tipo }

    DispatchResult:
      type: object
      properties:
        ok: { type: boolean }
        estado: { type: string }
        tracking_anterior: { type: string, nullable: true }
        tracking_nuevo: { type: string, nullable: true }

    CursorPageInventorySession:
      type: object
      required: [items, next_cursor]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/InventorySession' } }, next_cursor: { type: string, nullable: true } }
    CursorPageDifference:
      type: object
      required: [items, next_cursor]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/Difference' } }, next_cursor: { type: string, nullable: true } }
    CursorPageLabelJob:
      type: object
      required: [items, next_cursor]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/LabelJob' } }, next_cursor: { type: string, nullable: true } }
    CursorPagePreparation:
      type: object
      required: [items, next_cursor]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/PreparationSummary' } }, next_cursor: { type: string, nullable: true } }
    CursorPageLocation:
      type: object
      required: [items, next_cursor]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/Location' } }, next_cursor: { type: string, nullable: true } }
    CursorPageDifferenceHistory:
      type: object
      required: [items, next_cursor]
      properties: { items: { type: array, items: { $ref: '#/components/schemas/DifferenceHistoryEntry' } }, next_cursor: { type: string, nullable: true } }

    AuthTokens:
      type: object
      required: [access_token, refresh_token, expires_in, device_id, user]
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer, description: "Segundos de vida del access_token" }
        device_id: { type: string, description: "Dispositivo al que queda ligada la sesión" }
        user: { $ref: '#/components/schemas/Me' }

    Me:
      type: object
      properties:
        id: { type: string }
        username: { type: string }
        roles: { type: array, items: { type: string } }
        permisos: { type: array, items: { type: string } }

    Device:
      type: object
      properties:
        id: { type: string }
        platform: { type: string, enum: [ios, android, web] }
        device_name: { type: string }
        creado_en: { type: string, format: date-time }

    Product:
      type: object
      properties:
        sku: { type: string }
        nombre: { type: string }
        marca: { type: string, nullable: true }
        stock: { type: integer }
        precio: { type: number, nullable: true }

    StockAdjustmentRequest:
      type: object
      required: [client_request_id, sku, expected_stock, requested_stock, reason]
      properties:
        client_request_id:
          type: string
          format: uuid
          description: Generado por la app, único por intento — permite reintentar sin duplicar.
        sku: { type: string }
        expected_stock:
          type: integer
          description: Lo que la app cree que es el stock actual (leído en el lookup previo).
        requested_stock:
          type: integer
          minimum: 0
        reason: { type: string, example: "ajuste_manual" }

    StockAdjustmentResult:
      type: object
      properties:
        operation_id: { type: string }
        sku: { type: string }
        woo_status: { type: string, enum: [aplicado, error] }
        stock_nuevo: { type: integer }
        ml_status:
          type: string
          enum: [sincronizando, sincronizado, sin_cambios, error, omitido]
          description: Estado inicial — puede seguir cambiando; consultar GET /operations/{correlationId}.

    Operation:
      type: object
      properties:
        id: { type: string }
        tipo: { type: string, example: "stock_adjustment" }
        woo_status: { type: string }
        ml_status:
          type: string
          enum: [sincronizando, sincronizado, sin_cambios, error, omitido]
        detalle_ml: { type: string, nullable: true }
        creado_en: { type: string, format: date-time }
        actualizado_en: { type: string, format: date-time }

    OrderSummary:
      type: object
      properties:
        id: { type: string }
        canal: { type: string, enum: [ml, web] }
        estado: { type: string, enum: [new, preparing, done] }
        cliente: { type: string }
        total: { type: number }
        actualizado_en: { type: string, format: date-time }

    OrderDetail:
      allOf:
        - $ref: '#/components/schemas/OrderSummary'
        - type: object
          properties:
            items:
              type: array
              items:
                type: object
                properties:
                  sku: { type: string }
                  nombre: { type: string }
                  cantidad: { type: integer }
            direccion_envio: { type: string, nullable: true }
            nota: { type: string, nullable: true }

    TodaySummary:
      type: object
      properties:
        pedidos_nuevos: { type: integer }
        pedidos_preparando: { type: integer }
        stock_con_error_ml: { type: integer }
        preguntas_sin_responder: { type: integer }
        mensajes_sin_responder: { type: integer }
        reclamos_abiertos: { type: integer }
        tareas_pendientes: { type: integer }

    InboxItem:
      type: object
      required: [id, event_id, channel, status, version, created_at, updated_at]
      properties:
        id: { type: string }
        event_id: { type: string }
        channel: { type: string }
        resource_id: { type: string, nullable: true }
        title: { type: string }
        preview: { type: string, nullable: true }
        status: { type: string, enum: [unread, read, resolved, archived] }
        version: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    Notification:
      type: object
      properties:
        id: { type: string }
        tipo:
          type: string
          enum: [nuevo, reaviso, resuelto]
        titulo: { type: string }
        cuerpo: { type: string }
        deep_link: { type: string, description: "Ruta interna al detalle exacto del recurso; incidentes usa incidentes/{id} y agrega ?correlation_id=... cuando existe" }
        leida: { type: boolean }
        creado_en: { type: string, format: date-time }

    NotificationPreferences:
      type: object
      required: [incidentes_criticos]
      properties:
        incidentes_criticos: { type: boolean, description: "Recibir incidentes críticos de integraciones" }

    IntegrationNotification:
      type: object
      required: [notification_id, user_id, title, status, created_at]
      properties:
        notification_id: { type: integer }
        event_id: { type: string, nullable: true }
        inbox_id: { type: integer, nullable: true }
        user_id: { type: integer }
        title: { type: string }
        body: { type: string, nullable: true }
        deep_link: { type: string, nullable: true }
        status: { type: string, enum: [pending, sent, failed, expired] }
        created_at: { type: string, format: date-time }
        read_at: { type: string, format: date-time, nullable: true }

    ConversationView:
      type: object
      required: [conversation, messages]
      properties:
        conversation: { type: object, description: Registro interno de conversación visible al usuario }
        messages:
          type: array
          items:
            type: object
            properties:
              message_id: { type: integer }
              event_id: { type: string, nullable: true }
              direction: { type: string, enum: [inbound, outbound] }
              external_message_id: { type: string, nullable: true }
              body: { type: string, nullable: true }
              body_redacted: { type: integer, enum: [0, 1] }
              occurred_at: { type: string, format: date-time, nullable: true }
              created_at: { type: string, format: date-time }

    IntegrationOperation:
      type: object
      required: [correlation_id, event, history]
      properties:
        correlation_id: { type: string }
        event: { type: object, description: Evento canónico sin secretos ni payload privado }
        history:
          type: array
          items:
            type: object
            properties:
              stage: { type: string }
              from_status: { type: string, nullable: true }
              to_status: { type: string, nullable: true }
              error_code: { type: string, nullable: true }
              resource_id: { type: string, nullable: true }
              correlation_id: { type: string }
              retryable: { type: integer, enum: [0, 1], nullable: true }
              attempts: { type: integer, nullable: true }
              safe_message: { type: string, nullable: true }
              created_at: { type: string, format: date-time }
